---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/DefaultLayout.astro'
// import Layout from '@layouts/DefaultLayout.astro'
// import BlogList from '@components/blog/BlogList.astro'
import BlogList from '../../components/blog/BlogList.astro'

const posts = await getCollection('blog').then((collection) => collection.reverse())
---

<Layout
  title="區塊空間"
  description="BlockSpace Blog"
  pageTitle="BlockSpace Blog"
>
  <main class="pt-20">
    <div class="container">
      <h1 class="m-5">文章</h1>
    </div>

    

    <BlogList posts={posts} />
  </main>
</Layout>
