---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import RecentBlogPosts from '../components/generic/RecentBlogPosts.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-16">
    <div class="container">
      <RecentBlogPosts />
    </div>
</DefaultLayout>
