---
import { Icon } from 'astro-icon/components'
import { Application } from '@splinetool/runtime';

const { src = '/avatar.webp' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">區塊空間 <br /></span> 最簡單的區塊鏈教學</slot>
        </h1>
        <a href="/blog">
          <button class="btn group relative inline-block h-[80px] w-[250px] border-none font-medium">
            <span
              class="duration-400 bgColor absolute inset-0 h-full w-full translate-x-2 translate-y-2 transform rounded-md transition ease-out group-hover:-translate-x-0 group-hover:-translate-y-0"
            ></span>
            <span
              class="absolute inset-0 h-full w-full rounded-md bg-[#E84115] group-hover:-translate-x-0 group-hover:-translate-y-0 group-hover:bg-[#F7DE8E]"
            ></span>

            <span class="relative text-lg font-black text-white group-hover:text-black">快去了解區塊鏈的世界</span>
          </button>
        </a>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="relative h-72 w-72">
          <img class="rounded-full border border-gray-100 shadow-sm lg:block" src={src} alt="" decoding="async" />
        </div>
      </div>
      <div
      id="planet"
      class="flex w-[75%] min-h-[250px] max-h-[50vh] max-w-full md:max-h-full self-start sm:self-auto sm:justify-self-start md:h-2/3 md:max-w-[515px]" 
    >
      <!-- TODO: import Web Component from npm package, already installed via https://www.npmjs.com/package/@splinetool/viewer -->
      <!-- Use "perspective" for your scene! -->
      <!-- <script
        type="module"
        src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"
      ></script>
      <spline-viewer
        url="https://prod.spline.design/kKNXqXo1SVPzX6KY/scene.splinecode"
        background="transparent"
        width="100%"
        height="100%"
        class="grow"
       ></spline-viewer>
       <iframe src="https://my.spline.design/clonercubebinarycopy-27e8efa5290ff70e39b90f5e089afe45/" frameborder="0"></iframe> -->
       <!-- <script>
        const canvas = document.getElementById('canvas3d');
const app = new Application(canvas);
app.load('https://prod.spline.design/kKNXqXo1SVPzX6KY/scene.splinecode');
       </script> -->
    </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bgColor {
    background: var(--border-color);
  }
</style>
