---
import ResponsiveToggle from './ResponsiveToggle.astro'
import { DarkMode } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import logo from '../assets/img/logo.svg'
---

<!-- <div id="main-navigation" class="is-desktop ">
  <div class="container">
    <a href="/" class="flex items-center gap-2 !no-underline">
      <Image src={logo} alt="Your Logo" width="47" height="37" />
      <span class="text-xl font-bold">BlockSpace</span>
    </a>
    <div class="wrapper flex justify-center items-center">
      <nav class="desktop-menu " aria-label="Main navigation desktop">
        <ul class="menu w-[300px] flex items-center">
          <slot />
        </ul>
      </nav>
      <DarkMode />
      <ResponsiveToggle />
    </div>
    <nav class="mobile-menu" aria-label="Main navigation mobile">
      <ul class="menu">
        <slot />
      </ul>
    </nav>
  </div>
</div> -->

<div id="main-navigation" class="navbar max-w-[88rem] mx-auto">
  <div class="flex-1">
    <a href="/" class="flex items-center gap-2 !no-underline">
      <Image src={logo} alt="Your Logo" width="47" height="37" />
      <span class="text-xl font-bold">BlockSpace</span>
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <slot />
    </ul>
    <DarkMode />
      <ResponsiveToggle />
  </div>
</div>

<style lang="scss" is:global>
  @use '../assets/scss/base/breakpoint' as *;
  @use '../assets/scss/base/outline' as *;

  #main-navigation {
    border: 2px solid var(--border-color);
      border-radius: 30px;
      background-color: var(--background);
      box-shadow: 2px 2px 2px 1px var(--border-color);

    svg path {
      fill: var(--action-color);
    }

    &:hover {
      svg path {
        fill: var(--action-color-state);
      }
    }

    &:focus {
      @include outline;

      &:not(:focus-visible) {
        outline: none;
        box-shadow: none;
      }
    }
  }
</style>
